.post{
    position: relative;
    background: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin: 0 auto 45px auto;
}

.post-image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post-text{
    font-weight: normal;
    padding: 20px;
}

.post-header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post-avatar{
    margin-right: 10px;
}

.post-delete{ 
    position: absolute;
    top: 0px;
    right: 0px;
    outline: none;
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
}

.post-comments{
    padding: 20px
}

.post-comment-box{
    display: flex;
    margin-top: 10px;
}

.post-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post-submit{
    flex: 0;
    color: #6082a3;
    background: transparent;
    outline: none;
    border: none;
    border-top: 1px solid lightgray;
    cursor: pointer;
}