*{
  margin: 0;
  scroll-behavior: smooth;
}


.App{
  background-color: #fafafa;
  
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app-headerImage{
  object-fit: contain;
  cursor: pointer;
}

.app-signup{
  display: flex;
  flex-direction: column;
}

.app-posts{
  padding: 1rem;
}

.logged-out{
  background: black;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 2%;
  left: 40%;
  z-index: 10;
}

@media screen and (max-width: 960px){
  .logged-out{
    left: 5%;
  }
  
}
